/* Estilos pensados para exportação em PDF */
body {
  font-family: 'Lato', sans-serif;
  color: #000;
  background: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #000;
  padding: 5px;
}
